CSS

html, body{
  margin 0;
  margin-top: -20px;
  margin-left: -5px;
  margin-right: -5px;
  background-image: url("../image/green-and-light-green-blur-gradient-background.jpg");
  background-size: 1300px;
}



/*-------paper-------*/
.paper{
  background-color: white;
  margin: 60px 100px 80px 100px;
  padding: 60px 86px 40px 86px;
  font-family: Arial;
  border: 2px solid #6B728E;
  text-align: center;
}



/*-------Navbar------*/


.nav ul{
  font-size: 100%;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-image: linear-gradient(to bottom right, #74b9ff, cyan);
  background-size: 1500px;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 40px;
  line-height: 40px;
  padding: 0px 40px;
}

.active{
  background-color: #fc5c65;
}

.nav li:hover {
  background: #fc5c65;
  transition: background .3s;
}

.nav li a{
  color: black;
  text-decoration: none;
}


.Competence h2 {
padding-left: 70px;
  }
 /*-------------------*/
}

ul{


}
